/* Подключение шрифтов */
@font-face {
    font-family: "ManropeBold";
    src: url(../fonts/static/Manrope-Bold.ttf);
  }
  
  @font-face {
    font-family: "Manrope";
    src: url(../fonts/static/Manrope-Regular.ttf);
  }
  
  @font-face {
    font-family: "ManropeLight";
    src: url(../fonts/static/Manrope-Light.ttf);
  }
  
  /* Сброс базовых стилей */
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    outline: none;
  }
  
  /* Общие стили для всего приложения */
  
  body {
    background: #040C18;
    padding: 0 2rem;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  a,
  button {
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  
  a:hover,
  button:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  
  button:hover {
    background-color: #ae67fa;
  }
  
  ul li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 60px;
    color: #ae67fa;
  }
  
  h2 {
    font-size: 34px;
  }
  
  h1,
  h2 {
    font-family: "ManropeBold", sans-serif;
    background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h3 {
    font-family: "ManropeBold", sans-serif;
    color: #fff;
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    color: #fff;
  }
  
  .btn {
    display: flex;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .primary-btn {
    background-color: #ff4820;
  }
  
  .section {
    max-width: 1169px;
    width: 100%;
  }
  
  .lined_header {
    background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
    padding: 1rem 0;
  }
  
  /* Стили для Шапки */
  
  .header {
    display: flex;
    max-width: 1169px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #031b34;
    z-index: 10;
  }
  
  .header .header-logo {
    width: 162px;
  }
  
  .header .header__menu .menu {
    display: flex;
    column-gap: 2rem;
  }
  
  .header .header__menu .menu .menu__item a {
    color: #fff;
    border-bottom: 1px solid transparent;
  }
  
  .header .header__menu .menu .menu__item:hover a {
    border-bottom-color: #fff;
  }
  
  .header .header__menu .menu .menu__item.active a {
    color: #f49867;
    border-bottom-color: #f49867;
  }
  
  .header .cta_buttons {
    display: flex;
    column-gap: 1rem;
  }
  
  /* Стили для первого экрана (Хиро секция) */
  
  .hero_section {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    min-height: 60vh;
    margin: 14rem 0 3rem;
  }
  
  .hero_section .hero_section__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    width: 75%;
  }
  
  .hero_section .hero_section__left .left__description {
    color: #81afdd;
  }
  
  .hero_section .hero_section__left .left__cta_buttons {
    display: flex;
    width: 100%;
  }
  
  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: 250px;
    width: 70%;
    padding: 8px 32px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #052d56;
    border-bottom: none;
    background-color: #052d56;
  }
  
  .hero_section .hero_section__left .left__cta_buttons .btn {
    border-radius: 0 4px 4px 0;
  }
  
  .hero_section .hero_section__right {
    height: 100%;
  }
  
  .hero_section .hero_section__right img {
    width: 100%;
  }
  
  /* Секция брендов */
  
  .brands_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 6rem 0;
    column-gap: 3rem;
  }
  
  /* Что такое Chat GPT */
  
  .what_is_chatgpt_section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 6rem 0;
    row-gap: 7rem;
    background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    display: flex;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
    flex: 30%;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
    flex: 65%;
    color: #81afdd;
    font-size: 14px;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: 500px;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle a {
    color: #ff8a71;
    font-size: 16px;
    border-bottom: 1px solid transparent;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
    border-bottom: 1px solid #ff8a71;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 2rem;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    color: #81afdd;
    font-size: 14px;
    line-height: 1.8;
  }
  
  /* Будущее наступило */
  
  .future_here {
    display: flex;
    column-gap: 6rem;
    margin: 6rem 0 2rem;
  }
  
  .future_here .future_here__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    flex: 2;
  }
  
  /* .future_here .future_here__left .left__header {
  } */
  
  .future_here .future_here__left .left__cta {
    color: #f49867;
    border-bottom: 1px solid transparent;
  }
  
  .future_here .future_here__left a:hover {
    border-bottom: 1px solid #f49867;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .future_here .future_here__right {
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  
  .future_here .future_here__right .right__container {
    display: flex;
    justify-content: space-between;
  }
  
  .future_here .future_here__right .right__container .container__header {
    width: 35%;
  }
  
  .future_here .future_here__right .right__container .container__content {
    width: 55%;
    color: #81afdd;
  }
  .feature__right__now{
    display: flex;
    margin-top: 0px;
    width: 1044px;
    height: 607.53px;
  }

  .container__feature__image{
    position: relative;
    width: 546px;
    height: 607.53px;
  }
  .img__girl__feature{
    position: absolute;
    width: 474.85px;
    height: 542.53px;
    left: 80px;
    top: 65px;
    z-index: 4;
  }

  .img__rectangle{
    position: absolute;
    width: 367.31px;
    height: 402.05px;
    top: 205px;
    z-index: 3;
  }

  .vector__409{
    position: absolute;
    top: 94px;
    left: 90px;
  }

  .vector__410{
    position: absolute;
    top: 100px;
    left: 90px;
  }

  .rectangle__24{
    position: absolute;
    left: 332px;
    top: 125px;
  }

  .text__my__apps{
    position: absolute;
    left: 400px;
    top: 152px;
  }

  .container__category{
    position: absolute;
    width: 28px;
    height: 10px;
    top: 143px;
    left: 360px;
    z-index: 5;
  }
  .ellipse1, .ellipse2, .ellipse3, .ellipse4{
    position: absolute;
  }
  .ellipse1{
    top: 0px;
    left: 70px;
  }

  .ellipse2{
    top: 33px;
    left: 108px;
  }

  .ellipse3{
    top: 76px;
    left: 154px;
  }
  .ellipse4{
    top: 106px;
    left: 182px;
  }

  .rectangle__25{
    position: absolute;
    left: 60px;
    top: 62px;
  }
  .container__message{
    position: absolute;
    z-index: 4;
  }

  .rectangle__192{
    position: absolute;
    top: 85px;
    left: 82px;
  }
  .container__content__right{
    position: absolute;
    width: 479px;
    height: 334px;
    top: 2760px;
    left: 850px;
    opacity: 1;
  }
  .container__content__feature__1{
    position: absolute;
    text-decoration: none;
    top: 0px;
    size: 16px;
    line-height: 30px;
    color: #71E5FF;
  }
  .container__header__feature{
    position: absolute; 
    width: 426px;
    height: 90px;
    top: 30px;
    size: 34px;
    line-height: 45px;
  }
  .container__content__feature__main{
    position: absolute;
    top: 140px;
    size: 16px;
    color: #81AFDD;
    line-height: 30px;
  }
  .container__content__feature__2{
    position: absolute;
    text-decoration: none;
    size: 16px;
    line-height: 30px;
    top: 300px;
    color: #FF8A71;
  }

  .container__content__feature__1:hover {
    text-decoration: underline;
    color: #71E5FF; /* Цвет при наведении */
  }

  .container__content__feature__2:hover {
    text-decoration: underline;
    color: #FF8A71; /* Цвет при наведении */
  }

  .container__cta{
    position: relative;
    margin-top: 150px;
    width: 1170px;
    height: 172.65px;
  }

  .background__image__cta{
    position: absolute;
    width: 1170px;
    height: 172.65px;
    z-index: 1;
  }

  .text__cta__1{
    position: absolute;
    width: 318.87px;
    height: 46.89px;
    font-weight: 500;
    size: 12px;
    line-height: 30px;
    color: #0E0E0E;
    z-index: 2;
    left: 64px;
    top: 20px;
  }

  .text__cta__2{
    position: absolute;
    width: 550px;
    height: 78px;
    font-weight: 800;
    size: 24px;
    line-height: 35px;
    color: #000000;
    z-index: 2;
    left: 64px;
    top: 55px;
  }
  .cta__button {
    width: 189.14px;
    height: 59.4px;
    border-radius: 40px;
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
    top: 54px;
    left: 900px;
  }
  
  .button:hover {
    background-color: #2980b9;
  }

  .container__blog{
    position: relative;
    margin-top: 200px;
    width: 1170px;
    height: 961px;
    z-index: 1;
  }
  .title__blog{
    position: absolute;
    width: 669px;
    height: 150px;
    font-weight: 800px;
    size: 62px;
    line-height: 75px;
  }

  .container__group__100{
    position: relative;
    width: 1170;
    height: 695.21px;
    margin-top: 250px;
  }

  .container__group__99{
    position: relative;
    width: 418.2px;
    height: 695.21px;
  }

  .rectangle__group__97{
    position: relative;
    width: 327.34px;
    height: 323.84px;
    margin-left: 465px;
    margin-top: -695.21px;
  }
  .rectangle__group__98{
    position: relative;
    width: 327.34px;
    height: 323.84px;
    margin-left: 465px;
    margin-top: 46px;
  }
  
  .rectangle__group__101{
    position: relative;
    width: 327.34px;
    height: 323.84px;
    margin-left: 835px;
    margin-top: -695.21px;
  }
  .rectangle__group__102{
    position: relative;
    width: 327.34px;
    height: 323.84px;
    margin-left: 835px;
    margin-top: 46px;
  }

  .container__group__99 .data__text{
    position: relative;
    font-size: 11.65px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;
    z-index: 2;
    top: -380px;
    left: 30px;
    color: #FFFFFF;
  }

  .container__group__99 .title__small__cont{
    position: relative;
    width: 342.18px;
    height: 90.74px;
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.29px;
    text-align: left;
    z-index: 2;
    top: -360px;
    left: 30px;
    color: #FFFFFF;
  }
  
  .container__group__99 .text__more__info{
    position: relative;
    width: 148px;
    height: 34.95px;
    font-size: 12px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;    
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__97 .data__text{
    position: relative;
    font-size: 11.65px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__97 .title__small__cont{
    position: relative;
    width: 284.23px;
    height: 90.86px;
    font-size: 19px;
    font-weight: 800;
    line-height: 30.29px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__97 .text__more__info{
    position: relative;
    width: 148px;
    height: 34.95px;
    font-size: 12px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;    
    z-index: 2;
    top: -170px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__98 .data__text{
    position: relative;
    font-size: 11.65px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__98 .title__small__cont{
    position: relative;
    width: 284.23px;
    height: 90.86px;
    font-size: 19px;
    font-weight: 800;
    line-height: 30.29px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__98 .text__more__info{
    position: relative;
    width: 148px;
    height: 34.95px;
    font-size: 12px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;    
    z-index: 2;
    top: -170px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__101 .data__text{
    position: relative;
    font-size: 11.65px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__101 .title__small__cont{
    position: relative;
    width: 284.23px;
    height: 90.86px;
    font-size: 19px;
    font-weight: 800;
    line-height: 30.29px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__101 .text__more__info{
    position: relative;
    width: 148px;
    height: 34.95px;
    font-size: 12px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;    
    z-index: 2;
    top: -170px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__102 .data__text{
    position: relative;
    font-size: 11.65px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__102 .title__small__cont{
    position: relative;
    width: 284.23px;
    height: 90.86px;
    font-size: 19px;
    font-weight: 800;
    line-height: 30.29px;
    text-align: left;
    z-index: 2;
    top: -180px;
    left: 30px;
    color: #FFFFFF;
  }

  .rectangle__group__102 .text__more__info{
    position: relative;
    width: 148px;
    height: 34.95px;
    font-size: 12px;
    font-weight: 300;
    line-height: 34.95px;
    text-align: left;    
    z-index: 2;
    top: -170px;
    left: 30px;
    color: #FFFFFF;
  }

  .text__more__info:hover {
    text-decoration: underline;
    color: #ff4a4a; /* Цвет при наведении */
  }

  .footer{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 968px;
    justify-content: space-between;
  }

  .footer__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 196px;
    margin-left: 310px;
    width: 821px;
    height: 150px;
    size: 62px;
    text-align: center;
  }

  .button__demo{
    width: 337.58px;
    height: 65px;
    border-radius: 0px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #031B34;
    border: 2px solid #fff; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
    margin-top: 10%;
    margin-left: 40%;
  }

  .footer__logo{
    display: flex;
    margin-top: 10%;
    margin-left: 8%;
    width: 220px;
    height: 117px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo__gpt3{
    width: 118px;
    height: 30px;
    margin-right: 20px;
  }

  .logo__text__1{
    color: #fff;
    line-height: 1.5;
    margin-top: 15%;
    max-width: 100%; 
    font-size: 0.75rem;
  }

  .logo__text__1:last-of-type {
    margin-top: 20px; 
  }

  .footer__links, .footer__company, .footer__get__in__touch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: 100px;
    height: 192px;
  }

  .footer__links {
    margin-left: 45%;
    margin-top: -8%;
  }

  .footer__company{
    margin-top: -14.5%;
    margin-left: 60%;
    width: 200px;
  }

  .footer__get__in__touch{
    width: 200px;
    margin-left: 80%;
    margin-top: -14.5%;
  }
  
  .links__title {
    margin-bottom: 30px;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .item__links__footer {
    margin-bottom: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
  }
  
  .item__links__footer:hover {
    text-decoration: underline;
    color: #ff4a4a; /* Цвет при наведении */
  }
  
  .item__links__footer__get__in__touch {
    margin-bottom: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
  }

  .rights{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    size: 12px;
  }

  /* Медиа запросы для адаптива */
  
  @media screen and (max-width: 1024px) {
    .header {
      flex-direction: column;
    }
  }