@media screen and (max-width: 768px) {
    .header__menu {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background: rgba(3, 27, 52, 0.9); 
        z-index: 1000;
    }

    .hamburger {
        display: block; 
    }

    .header__menu.open {
        display: flex; 
    }

    .header__menu .menu {
        list-style: none; 
        padding: 0; 
        margin: 0; 
        display: flex;
        flex-direction: column;
        row-gap: 20px; 
        text-align: center; 
    }

    .header__menu .menu__item {
        padding: 1rem;
        color: white; 
    }

    .menu__item a {
        font-size: 1rem; 
        color: #fff; 
        text-decoration: none; 
    }

    .menu__item a:hover {
        color: #ffcc00; 
    }

    .hero_section {
      flex-direction: column; 
      align-items: center; 
    }
  
    .hero_section__left,
    .hero_section__right {
      max-width: 100%; 
      text-align: center; 
    }
  
    .left__header {
      font-size: 1.5rem; 
    }
  
    .left__description {
      font-size: 0.9rem; 
    }
  
    .left__cta_buttons input {
      width: 100%; 
      margin-bottom: 1rem;
    }
  
    .left__cta_buttons {
      display: flex;
      flex-direction: column; 
    }
  
    .left__social_approve {
      justify-content: center; 
    }
    
    .left__social_approve img {
      max-width: 40px; 
    }
  
    .text__social__approve {
      margin-top: 0.5rem; 
      text-align: center; 
    }

    .brands_section__img {
      max-width: 80px; 
    }

    .brands_section__img {
      max-width: 70px; 
    }

    .top__header,
    .middle__header,
    .container__header {
      font-size: 1.5rem; 
    }

    .top__content,
    .container__content {
      font-size: 0.9rem; 
    }

    .middle_cta {
      font-size: 0.75rem; 
      margin-top: 1rem; 
    }

    .right__container h3{
      font-size: 1.25rem;
    }

    .what_is_chatgpt_section__bottom {
      flex-direction: column; 
    }

    .future_here {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .future_here__left {
      margin-bottom: 1.5rem; 
    }
  
    .future_here__right {
      width: 100%; 
    }
  
    .right__container {
      margin-bottom: 1rem; 
    }
  
    .left__cta {
      margin-top: 1rem; 
    }

    .img__girl__feature{
      width: 80%;
    }

    .feature__right__now {
      flex-direction: column; 
      justify-content: space-between; 
      align-items: center; 
      height: auto;
    }
  
    .container__feature__image {
      margin-right: 2rem;
      margin-bottom: 0; 
    }
  
    .container__content__right {
      margin-top: 65%;
      max-width: 40%; 
      text-align: left; 
      margin-right: 32%;
    }

    .container__cta {
      flex-direction: column; 
      align-items: center; 
      height: auto; 
      padding: 20px; 
    }

    .container__cta .container__cta__main {
        text-align: center; 
        width: 30%;
    }

    .container__cta .container__button__cta {
        margin-top: 20px;
    }

    
    .container__cta {
        height: 50vh; 
    }

    .blog{
      padding-left: 50px;
    }

    .blog-container {
      flex-direction: column; 
      align-items: center; 
      gap: 30px; 
    }

    .blog-row {
        flex-direction: column; 
        gap: 30px; 
    }

    .blog-item {
        width: 100%; 
        max-width: 400px;
    }

    .top__header {
      font-size: 2rem !important; 
      text-align: left; 
      padding-bottom: 2rem; 
    }

    .footer {
      padding: 30px 10px;
    }

    .footer__title {
        font-size: 2rem !important; 
        text-align: center;
        line-height: 3rem; 
        width: 60%;
    }

    .button__demo {
        width: 100%; 
        margin: 0; 
        height: 50px; 
        font-size: 16px;
    }

    .footer__content {
        flex-direction: column; 
        align-items: center;
    }

    .footer__logo, .footer__links, .footer__company, .footer__get__in__touch {
        margin: 20px 0; 
        align-items: center; 
        text-align: center;
    }

    .rights {
        font-size: 0.75rem; 
    }
  }

  @media (max-width: 1024px) {
    .container__cta {
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
    }

    .container__cta .container__button__cta {
        margin-top: 20px;
    }

    .container__cta .container__cta__main .text__cta__2 {
        width: auto; 
        text-align: center; 
        align-items: center;
    }

    .container__cta__main, .text__cta__2 {
      width: 50%; 
      text-align: center; 
      align-items: center;
    }
    .right__container h3{
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 480px) {
    .brands_section__img {
      max-width: 50px; 
    } 

    .footer__title {
      font-size: 2rem; 
      line-height: 2.5rem; 
    }

    .button__demo {
        height: 45px;
        font-size: 14px; 
    }

    .item__links__footer, .item__links__footer__get__in__touch {
        font-size: 0.65rem; 
    }
  }

  @media screen and (min-width: 769px) {
    .right__container {
      margin-bottom: 2rem; 
    }
  } 